<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">
            <span class="brand-mark">d2a</span>
            <span class="brand-copy">
                <strong>{{ site.title }}</strong>
                <small>{{ site.brief-intro }}</small>
            </span>
        </a>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Directory
                    </a>
                </li>
                <li>
                    {% if page.url == '/about/' %}
                    <a class="active" href="{{site.baseurl}}/about/">
                    {% else %}
                    <a href="{{site.baseurl}}/about/">
                    {% endif %}
                        <i class="fa fa-user-o"></i>About
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
